.img{
    height: 100vh;
    width: 620px;
}
body{
    margin: 0;
}
.rightt{
    display: flex;
   flex-direction: column ;
   gap: 20px;
}
.all{
    display: flex;
    gap: 70px;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px rgb(163, 152, 152);
    height: 200px;
    
}
.leftt{
    display: flex;
    flex-direction: column ;
    gap: 20px;
    margin-left: 50px;
    
}
.right{
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.btn{
    background-color: rgb(150, 150, 38);
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 15px;
    
}
label{
    font-family: 'Courier New', monospace;
    font-size: smaller;
    color: rgb(65, 57, 57);
}
input{
    border: 1px solid rgb(228, 222, 222);
    border-radius: 3px;
    height: 20px;
    box-shadow: 1px 2px 5px olive;
}
input:focus{
    outline: 0;
    border: 2px solid lightblue;
}
input:valid{
    border: 1px solid olive;
}
.leftandright{
    display: flex;
    height: 100vh;
}

a{
    color:  rgb(150, 150, 38);
    text-decoration: none;
}
.foot{
    margin-left: 50px;
}
.text{
    margin-left: 50px;
}
h3{
    margin-left: 50px;
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: .5;
    font-family: Papyrus, fantasy;
    
}
.left{
    position: relative;
    width: 650px;
}
.boom{
    color: white;
    font-size: 50px;
    opacity: 1;
    font-weight: 900;
    font-family: 'Bebas Neue';
}
.creds{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 1.5%;
    width: 100%;
    color: white;
    font-size: 20px;
    opacity: 0.5;
}
h1,h2,h3{
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: lighter;
}
.img2{
 width: 80%;

 opacity: .8;
}
.imgdiv{
    position: absolute;
    width: 15%;
    top: 170px;
    left: 165px;
    
}
